.overview_modal {
    width:34vh;
    height:17vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background:var(--card-bg);
    border-radius:.5rem;
    margin:0 0 2.5vh 0;
    transition: all .2s ease;
    cursor:pointer;

    &:hover {
        filter: brightness(var(--hover-brightness));
    }

    .type {
        grid-row: 1 / 2;
        font-size: 1.1rem;
        h4 {
            color: var(--text-sub);
        }
    }

    .data {
        grid-row: 2 / 3;

        .up {
            font-size: 1rem;
            font-weight: bold;
            display:flex;
            align-items: center;
            align-self:end;

            span {
                margin:0 0 0 .5rem;
            }
        }

        .number {
            font-size: calc(14px + 3vh);
            font-weight: var(--bold-weight);
            margin:0;
            line-height:.5;
        }

    }
}

.flex_between {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:  0 2.5rem;
}

.upcolor {
    color: var(--lime-green);
}

.downcolor {
    color: var(--bright-red);
}